{ns sdc-box
 import #{aidbox.config
          aidbox.rest
          aidbox.forms.vitals
          aidbox.forms.phq2phq9
          aidbox.forms.gad-7
          aidbox.forms.allergies
          aidbox.forms.ros
          aidbox.forms.physical-exam
          aidbox.forms.annual-wellness-visit
          hl7-fhir-r4-core hl7-fhir-us-core}


 features
 {:zen/tags #{aidbox.config/features}
  :graphql        {:access-control "disabled"}
  :validation     {:skip      {:reference false}
                   :value-set {:mode "disabled"}}
                  ;; Enable FTR Pull to load Forms Valusets
  :ftr            {:pull {:enable true :sync false}}

  :mapping        {:enable-access-control false}

  :authentication {:skip-jwt-validation         true
                   :introspection               {:create-user false}
                   :auth-with-not-validated-jwt {}}
  :http           {:return-404-on-empty-delete true}
  :terminology    {:import {:sync false}}}

 config
 {:zen/tags #{aidbox.config/config}
  :features features}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "test server"
  :config   config
  :services {:seed-fixtures seed-fixtures
             :sdc sdc-service}}

 default-sdc-theme
 {:zen/tags #{aidbox.sdc/theme}
  :zen/desc "Default SDC theme"
  :main-color [120 38 245]
  :background {:main-color [243 244 246]
               :form-color [255 255 255]
               :toolbar-color [238 238 238]}
  :input {:accent-color [120 38 245]
          :background-color [238 238 238]
          :text-color [0 0 0]}
  :button {:accent-color [120 38 245]
           :text-color [255 255 255]}}

 monochrome-theme
 {:zen/tags #{aidbox.sdc/theme}
  :zen/desc "Monochrome example theme"
  :main-color [52, 58, 64]
  :background {:main-color [233, 236, 239]
               :form-color [248, 249, 250]
               :toolbar-color [206, 212, 218]}
  :input {:background-color [233, 236, 239]}
  :button {:accent-color [73, 80, 87]
           :text-color [233, 236, 239]}}


 nhs-sdc-theme
 {:zen/tags #{aidbox.sdc/theme}
  :zen/desc "Theme styled with NHS colors"
  :main-color [0 94 184]
  :font-family "Product Sans"
  :brand-image {:top-right {:url "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/2560px-National_Health_Service_%28England%29_logo.svg.png"}
                :bottom-left {:url "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/2560px-National_Health_Service_%28England%29_logo.svg.png"}}
  :background {:main-color [232 237 238]
               :form-color [255 255 255]
               :toolbar-color [118 134 146]}
  :input {:accent-color [0 94 184]
          :text-color [35 31 32]
          :background-color [232 237 238]}
  :button {:accent-color [0 94 184]
           :text-color [255 255 255]}}

 hs-red-theme
 {:zen/tags #{aidbox.sdc/theme}
  :zen/desc "HS branded theme"
  :main-color [234 74 53]
  :brand-image {:top-right {:url "https://uploads-ssl.webflow.com/57441aa5da71fdf07a0a2e19/61653fe10ae2858d57ebbe31_hs-logo.png"}
                :bottom-left {:url "https://uploads-ssl.webflow.com/57441aa5da71fdf07a0a2e19/602a2c95b4409e38b2d23295_aidbox-logo.svg"}}}

 sdc-service
 {:zen/tags  #{aidbox/service}
  :engine    aidbox.sdc/service
  :versioning {:enabled false}
  :wf-items-ids-gen {:enabled true}
  :theme default-sdc-theme
  :conversion {:convert-forms-on-start false
               :convert-doc-on-save false}}

 seed-fixtures
 {:zen/tags #{aidbox/service}
  :engine aidbox/seed
  :resources {:Patient {:morgan {:name [{:family "James" :given ["Morgan"]}]
                                 :gender "male"
                                 :identifier [{:system "" :value ""}]
                                 :address [{:city "Historic City"
                                            :line ["534 Erewhon St"]
                                            :state "DE"}]
                                 :maritalStatus {:coding [{:system "http://terminology.hl7.org/CodeSystem/v3-MaritalStatus",
                                                           :code "M",
                                                           :display "Married"}]}
                                 :birthDate "1996-12-05"
                                 :meta {:profile ["http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient"]}}}
              :Encounter {:enc-1 {:status "planned"
                                  :subject {:id "morgan"
                                            :resourceType "Patient"}
                                  :class
                                  {:system "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                   :code "HH"}}}
              :Observation {:enc-1-symptom-observation {:status "preliminary"
                                                        :code {:coding [{:system "https://loinc.org",
                                                                         :code "75325-1",
                                                                         :display "Symptom"}]}
                                                        :encounter {:id "enc-1"
                                                                    :resourceType "Encounter"}
                                                        :value {:string "Encounter 1 Test Symptom"}}}}}

 }
