{ns vitals
 import #{zenbox aidbox.sdc}

 VitalsDocument
 {:zen/tags #{zen/schema aidbox.sdc/doc}
  ;:type "box.sdc-example/VitalsDocument"
  :type zen/map
  :confirms #{aidbox.sdc/Document}
  :keys {:brach-a-l-bp-dias {:type zen/number, :zen/desc "Brach a-L BP dias"},
         :brach-a-r-bp-dias {:type zen/number, :zen/desc "Brach a-R BP dias"},
         :resp-rate {:type zen/integer, :zen/desc "Resp rate"},
         :brach-a-r-bp-sys {:type zen/number, :zen/desc "Brach a-R BP sys"},
         :heart-rate {:type zen/integer, :zen/desc "Heart rate"},
         :body-height {:type zen/integer, :zen/desc "Body height"},
         :sao2-%-blda-pulseox
         {:type zen/number, :zen/desc "SaO2 % BldA PulseOx"},
         :brach-a-l-bp-sys {:type zen/number, :zen/desc "Brach a-L BP sys"},
         :weight {:type zen/integer, :zen/desc "Weight"},
         :body-temperature {:type zen/number, :zen/desc "Body temperature"}
         :bmi {:type zen/number, :zen/desc "BMI"}}}

; type, label etc...
 VitalsForm
 {:zen/tags #{aidbox.sdc/Form}
  :document VitalsDocument
  :engine aidbox.sdc/Hiccup
  :layout [:form
   [:header "Vitals"]
   [:field {:bind [:body-temperature], :label "Temperature", :unit "F"}]
   [:field
    {:type "double"
     :bind [:blood-pressure-dias :blood-pressure-sys]
     :label "Blood Pressure"
     :unit "mmHg"}]
   [:row
    [:label "Blood Pressure"]
    [:input {:bind [:blood-pressure-dias]}]
    [:input {:bind [:blood-pressure-sys]}]]
   [:field {:bind [:heart-rate], :label "Pulse Rate", :unit "bpm"}]
   [:field {:bind [:resp-rate], :label "Respiratory rate", :unit "bpm"}]
   [:field
    {:bind [:sao2-%-blda-pulseox]
     :label "Oxygen saturation"
     :unit "%SpO2"}]
   [:field {:bind [:weight], :label "Weight", :unit "lbs"}]
   [:field {:bind [:body-height], :label "Height"}]
   [:field {:bind [:bmi], :label "BMI"}]
  ]
 }

 VitalsLaunch
 {:zen/tags #{aidbox.sdc/Launch}
  :document VitalsDocument
  :form VitalsForm
  :params {:encounter-id {:type zen/string}}}

 VitalsFinalize
 {:zen/tags #{aidbox.sdc/Finalize}
  :document VitalsDocument
  :profile {:require #{:heart-rate}}}

;; bigger form - comp of forms
 }
